
<div class="container-wrapper">
  <div class="container module">
    <div class="tagline">Excellent smoothies and tasty breakfast burritos. Nice ambience and friendly.</div>
  </div>
</div>

<div class="container-wrapper">
  <div class="container module">

    <div class="basic-panel basic-panel-coffee">
      <section class="vert">
        <%= image_tag "coffecup.png" %>
      </section>

      <section class="vert">
        <h2>
          Full Flavored Coffee
        </h2>
        <p>
          The Taylor Maid Farms roast is full flavored without the linger of bitter. We work to find the sweet spot of the coffee, capturing the aroma, body and acidity that is characteristic of the farm and the bean, not the roast. What you will taste in our coffee is what we feel best represents the care and attention paid to in on the farm.
        </p>
      </section>
    </div>

  </div>
</div><!-- end of container-container -->
<div class="hero hero-opacity">
<div class="container-wrapper">
  <div class="container module">
    <h2>Come and Hangout!</h2>

    <div class="basic-panel basic-panel-hangout">

        <%= image_tag("coffee-place.jpg") %>
        <%= image_tag("nhcb.jpg") %>
        <%= image_tag("table-space.jpg") %>

    </div>
  </div>
</div><!-- end of container-container -->
</div><!-- end of hero image -->



<div class="container-wrapper">
  <div class="container module">

    <div class="basic-panel basic-plus-panel basic-panel-location">

      <h2>Our Store Locations</h2>
      <hr>
      <section>
        <i class="fa fa-globe  fa-4x" aria-hidden="true"></i>
        <h3>Hidden Valley Lake</h3>
        <p>
          18983 Hartmann Rd<br>
          Hidden Valley Lake, CA 95467<br>
          <a href="tel:7079878086">707-987-8086</a><br>
          M-F 5:30am - 5pm<br>
          S-S 6:30am - 5pm<br>
        </p>
      </section>

      <section>
        <i class="fa fa-globe  fa-4x" aria-hidden="true"></i>
        <h3>Cobb Mountain</h3>
        <p>
          The Meadows Springs Shopping Center<br>
          16295 Hwy 175<br>
          Cobb, CA 95426<br>
          <a href="tel:7079280461">707-928-0461</a><br>
          M-F 5:30am - 6pm<br>
          S-S 6:30am - 5pm<br>
        </p>
      </section>

    </div>
  </div>
</div><!-- end of container-container -->


<div class="container-wrapper">
  <div class="container module">

    <div class="basic-panel basic-panel-contact">

      <section class="panel-contact vert">
        <i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i>
        <br>
        <h3>Contact</h3>
        <a href="mailto:mountain.high.coffee@gmail.com">
          mountain.high.coffee@gmail.com
        </a>
        <br>
        <h3>Work at Mountain High</h3>
        <a target="_blank" href="http://www.mountainhighcafe.com/images/stories/MountainHighApplication.pdf" title="Job Application">
          Job Application
        </a>
      </section>

      <section class="vert">
        <%= image_tag("nhcb.jpg") %>
      </section>

    </div>
  </div>
</div><!-- end of container-container -->





