<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, type: 'number' %>
  </div>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= @customer_name %>
    <%= f.hidden_field :customer_id %>
  </div>

  <div class="actions module">
    <%= f.submit %>
  </div>
<% end %>
